<form action="/controllerUpdate/{{id}}"  method="POST">
    <p>Ticket</p>

    <p2>Titulo</p2>
    <input  name="titulo" value="{{titulo}}"><br>

    <p2>Cliente</p2>
    <input name="cliente" value="{{cliente}}"><br>

    <p2>CNPJ</p2>
    <input name="cnpj" value="{{cnpj}}"><br>

    <p2>Tecnico Responsavel</p2>
    <input name="tecnicoRes" value="{{tecnicoRes}}"><br>

    <p2>Descricao</p2>
    <input name="descricao" value="{{descricao}}">

     

    <button type="submit">Finalizar</button>

</form>